<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../res/bower_components/jquery/src/jquery.js"></script>
	<style>
		body{
			background: #444;
		}
	</style>
	<script>
		$(document).ready(function() {
			var name = "Rauan";
			console.log(name);
		});
	</script>
</head>
<body>
</body>
</html>